<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>StremBox-Plugin</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <nav class="navbar bg-body-tertiary">
            <div class="container">
                <span class="navbar-brand mb-0 h1">StremBox-Plugin</span>
            </div>
        </nav>
        <div class="container mt-4">
            <form
                action="/{% if user %}{{ user.id }}/{% endif %}"
                method="post"
            >
                <div class="mb-3">
                    <label for="libreboxUrl" class="form-label"
                        >URL de l'instance LibreBox</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="libreboxUrl"
                        name="librebox_url"
                        {%
                        if
                        user
                        %}
                        value="{{ user.librebox_url }}"
                        {%
                        endif
                        %}
                    />
                </div>

                <div class="mb-3">
                    <label for="libreboxToken" class="form-label"
                        >Clé API de l'instance LibreBox</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="libreboxToken"
                        name="librebox_token"
                        {%
                        if
                        user
                        %}
                        value="{{ user.librebox_token }}"
                        {%
                        endif
                        %}
                    />
                </div>

                <div class="mb-3">
                    <label for="c411Key" class="form-label">Clé API C411</label>
                    <input
                        type="text"
                        class="form-control"
                        id="c411Key"
                        name="c411_key"
                        {%
                        if
                        user
                        %}
                        value="{{ user.c411_key }}"
                        {%
                        endif
                        %}
                    />
                </div>

                <div class="mb-3">
                    <label for="torr9Key" class="form-label"
                        >Clé API Torr9</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="torr9Key"
                        name="torr9_key"
                        {%
                        if
                        user
                        %}
                        value="{{ user.torr9_key }}"
                        {%
                        endif
                        %}
                    />
                </div>

                <div class="mb-3">
                    <label for="lacaleKey" class="form-label"
                        >Clé API La Cale</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="lacaleKey"
                        name="lacale_key"
                        {%
                        if
                        user
                        %}
                        value="{{ user.lacale_key }}"
                        {%
                        endif
                        %}
                    />
                </div>

                <div class="mb-3">
                    <label for="traktSlug" class="form-label">Trakt Slug</label>
                    <input
                        type="text"
                        class="form-control"
                        id="traktSlug"
                        name="trakt_slug"
                        {% if user %}
                        value="{{ user.trakt_slug }}"
                        {% endif %}
                    />
                </div>

                <button type="submit" class="btn btn-primary">Générer</button>
            </form>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
